<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>FrontControl</display-name>
    <servlet-name>FrontControl</servlet-name>
    <servlet-class>com.revature.servlet.FrontControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontControl</servlet-name>
    <url-pattern>/control</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.revature.servlet.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountServlet</display-name>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>com.revature.servlet.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/account/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimburseServlet</display-name>
    <servlet-name>ReimburseServlet</servlet-name>
    <servlet-class>com.revature.servlet.ReimburseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimburseServlet</servlet-name>
    <url-pattern>/reimburse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.revature.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
</web-app>